version: '3.9'

services:
  blazorapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:8080"
    volumes:
      - dataprotection:/root/.aspnet/DataProtection-Keys
    restart: always

volumes:
  dataprotection:
